<section
  id="menu-container"
  class="bg-neutral-800/50 rounded-lg w-64 h-full p-5"
>
  <div
    id="logo"
    class="text-center font-stretch-extra-expanded text-neutral-100 text-3xl"
  >
    spinventory
  </div>
  <div id="menu-options" class="text-xl mt-36">
    <div class="cursor-pointer hover:text-neutral-100">Search</div>
    <div class="cursor-pointer hover:text-neutral-100">Collection</div>
    <div class="cursor-pointer hover:text-neutral-100">Wishlist</div>
    <div class="cursor-pointer hover:text-neutral-100">Settings</div>
    <div class="cursor-pointer hover:text-neutral-100">Log Out</div>
  </div>
</section>
